
section.grid3d {
	/* padding: 0em 3% 4em; */
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 8.75rem;
}
.noscroll {
	overflow: hidden;
}

.grid-wrap {
/* 	margin: 10px auto 0;
	max-width: 1090px;
	width: 100%; */
	padding: 0;
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.gridLightbox {
	position: relative;
	-webkit-transition: all 0.5s cubic-bezier(0,0,0.25,1);
	transition: all 0.5s cubic-bezier(0,0,0.25,1);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.view-full .gridLightbox {
	-webkit-transform: translateZ(-1500px);
	transform: translateZ(-1500px);
}

.gridLightbox figure,
.gridLightbox .placeholder {
	width: 340px;
	height: 300px;
}

.gridLightbox figure {
	margin: 10px;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gridLightbox figure.active {
	opacity: 0;
}

.gridLightbox .placeholder {
	pointer-events: none;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.placeholder > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.placeholder .front img {
	width: 100%;
	height: 100%;
}

.placeholder .back {
	background: white;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.view-full .placeholder {
	-webkit-transition: all 0.5s 0.1s cubic-bezier(0,0,0.25,1);
	transition: all 0.5s 0.1s cubic-bezier(0,0,0.25,1);
}

.vertical .view-full .placeholder {
	-webkit-transform: translateZ(1500px) rotateX(-179.9deg);
	transform: translateZ(1500px) rotateX(-179.9deg); /* FF, Chrome, can we agree on one direction, pleeease? */
}

.horizontal .view-full .placeholder {
	-webkit-transform: translateZ(1500px) rotateY(-179.9deg);
	transform: translateZ(1500px) rotateY(-179.9deg);
}

.gridLightbox figure img {
	display: block;
	width: 100%;
}

.worksContent,
.loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none; /* Careful, does not work in IE < 11 http://caniuse.com/#search=pointer-events */
}

.worksContent {
	overflow-y: scroll;
	height: 0; /* What seems to be the problem, officer? Well, we have a second scroll bar in Chrome! */
	background: #fff;
	visibility: hidden;
	z-index: 400;
	-webkit-overflow-scrolling: touch;
}

.loading {
	opacity: 0;
	z-index: 1;
	background: transparent url(../images/preloader.gif) no-repeat center center;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

.loading.show {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.worksContent.show {
	height: auto;
	pointer-events: auto;
	visibility: visible;
}

.worksContent > div {
	z-index: 10;
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	height: 0;
	opacity: 0;
	background: #fff;
}

.worksContent > div.show {
	min-height: 100vh;
	height: auto;
	opacity: 1;	
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;	
	background-color:#FBCC68;	
	padding-top: 60px;
	padding-bottom: 40px;
}

.icon:before {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.close-content {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 10px;
	font-size: 1.6em;
	color: #aaa;
	cursor: pointer;
	pointer-events: none;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.close-content:hover {
	color: #999;
}

.worksContent > div.show ~ .close-content {
	opacity: 1;
	pointer-events: auto;
	font-size: 30px;
}

.close-content:before {
	content: "CLOSE";
    color: #fff;
}

/* Dummy content */
.dummy-img,
.dummy-text {
	max-width: 600px;
	width: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}
.dummy-text a{
    /* padding: 2px 10px; */
    /* float: right; */
    color:  #f8b10a;
    margin-left: 10px;
    transition: .05s;
	border-bottom: 0px solid #f8b10a;
	border-top: 0px solid #f8b10a;
}
.dummy-text a:hover{
	/* border: 3px solid #f8b10a; */
	border-bottom: 3px solid #f8b10a;
	border-top: 3px solid #f8b10a;
}
.vertical .dummy-img,
.vertical .dummy-text {
	-webkit-transform: translateY(100px);
	transform: translateY(100px);
}

.horizontal .dummy-img,
.horizontal .dummy-text {
	-webkit-transform: translateX(-100px);
	transform: translateX(-100px);
}

.worksContent > div.show .dummy-img,
.worksContent > div.show .dummy-text {
	opacity: 1;
}

.vertical .worksContent > div.show .dummy-img,
.vertical .worksContent > div.show .dummy-text {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	color: #fff;
}

.horizontal .worksContent > div.show .dummy-img,
.horizontal .worksContent > div.show .dummy-text {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

p.dummy-text:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

p.dummy-text:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.dummy-img {
	height: auto;
	background-color: #ddd;
	margin: 10px auto;
}
.dummy-text {
	text-align: left;
	margin: 0 auto;
	padding: 10px 0;
	color: #ddd;
	font-size: 1em;
}
.dummy-text span{
	display: block;
    font-size: 16px;
}
.dummy-text:last-child {
	padding-bottom: 100px;
}

/* Simple fallback */
/* if any of these are not supported, a simple fallback will be shown */
.no-pointerevents .worksContent,
.no-csstransforms3d .worksContent,
.no-csstransitions .worksContent,
.no-pointerevents .worksContent > div,
.no-csstransforms3d .worksContent > div,
.no-csstransitions .worksContent > div,
.no-pointerevents .close-content,
.no-csstransforms3d .close-content,
.no-csstransitions .close-content {
	opacity: 1;
	visibility: visible;
	display: none;
	height: auto;
}

.no-pointerevents .show .close-content,
.no-csstransforms3d .show .close-content,
.no-csstransition .show .close-content,
.no-pointerevents div.show,
.no-csstransforms3d div.show,
.no-csstransitions div.show,
.no-csstransitions .dummy-img,
.no-csstransitions .dummy-text,
.no-csstransforms3d .dummy-img,
.no-csstransforms3d .dummy-text, 
.no-pointerevents .dummy-img,
.no-pointerevents .dummy-text {
	display: block !important;
	opacity: 1;
}


@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
	.close-content {
		padding: .5em;
		opacity: 0;
	}
}
@media screen and (max-width: 460px) {

}
